.app {
  display: flex;
  flex-direction: column;
  gap: 64px;

  padding: 64px;
  background-color: grey;
}

@media screen and (min-width: 600px) {
  .app {
    flex-direction: row;
    gap: 0;

    width: 80%;
    padding: 0;
    border-radius: var(--border-radius-main);
  }
}
