.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 32px 64px;
  border-radius: var(--border-radius-main);
  background-color: salmon;
}

.card-icon {
  width: 250px;
  height: 250px;
}

@media screen and (min-width: 600px) {
  .card {
    width: 32ch;
    padding: 32px;
  }
  .card p {
    font-size: 20px;
  }
  .card-icon {
    width: 100px;
    height: 100px;
  }
}
