.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 32px;
  color: var(--clr-white);
  border-radius: var(--border-radius-main);
  background-color: var(--clr-blue);
}

.card-icon {
  width: 120px;
  height: 120px;
}

@media screen and (min-width: 600px) {
  .card {
    width: 32ch;
    padding: 32px;
  }
  .card p {
    font-size: 20px;
  }
  .card-icon {
    width: 100px;
    height: 100px;
  }
}
