.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  padding: 2rem;
  color: var(--clr-white);
  border-radius: var(--border-radius-main);
  background-color: var(--clr-blue);
  background-image:
    linear-gradient(to bottom, rgba(0, 18, 29, 0.95), rgba(45, 69, 82, 0.7)),
    url('https://source.unsplash.com/xfngap_DToE');
  background-position: center;
  background-size: cover;
}

.card-icon {
  width: 120px;
  aspect-ratio: 1 / 1;
}

@media screen and (min-width: 600px) {
  .card {
    width: 32ch;
  }
  .card p {
    font-size: 20px;
  }
  .card-icon {
    width: 100px;
  }
}
