.search-box {
  display: grid;
  place-items: center;

  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: var(--border-radius-main);
  background-color: antiquewhite;
}

.search-bar {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .search-bar {
    flex-direction: row;
  }
}
