.search-box {
  padding: 1rem 2.5rem;
  margin-block-end: 0.5rem;
  background-color: var(--clr-neutral);
}

.search-bar {
  display: flex;
}

input[type = text] {
  padding: 0.4rem 0.8rem;
  border: none;
  font-size: 0.9rem;
}

input[type = text] {
  width: 100%;
  border-radius: var(--border-radius-main-l);
}

.search-bar button {
  width: 7rem;
  border-radius: var(--border-radius-main-r);
}

@media screen and (min-width: 600px) {
  .search-box {
    margin-block-end: 1rem;
    border-radius: var(--border-radius-main);
  }

  .search-bar button {
    width: 9rem;
  }
}
