.weekly-forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 64px 0;
  padding: 32px;
  border-radius: var(--border-radius-secondary);
  background-color: var(--clr-white-a);
}

.widget {
  flex-basis: 100%;

  padding: 32px 0;
  margin: 16px 0;
  text-align: center;
  border-radius: var(--border-radius-secondary);
  color: var(--clr-blue);
  background-color: var(--clr-neutral);
}

.widget > * {
  display: block;
}

.widget-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .weekly-forecast {
    justify-content: flex-start;

    margin: 32px 0 0 0;
    padding: 8px;
  }
  .widget {
    flex: 0 0 4ch;
    margin: 16px 8px;
    padding: 8px 0;
  }
  .widget-icon {
    width: 50px;
    height: 50px;
  }
}
