@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900&display=swap');

:root {
  --clr-blue: #002f4b;
  --clr-blue-light: #72afd0;
  --clr-neutral: #c7ced3;
  --clr-white: #f4f5f6;
  --clr-white-a: #ffffffd4;
  --clr-black-a: #0606068a;
  --border-radius-main: 25px;
  --border-radius-main-l: 25px 0 0 25px;
  --border-radius-main-r: 0 25px 25px 0;
  --border-radius-secondary: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  place-items: center;

  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 1.8rem;
}

button {
  padding: 0.4rem 0.8rem;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  color: var(--clr-white);
  background-color: var(--clr-blue);
  border-radius: var(--border-radius-main);
}

button:hover {
  color: var(--clr-blue);
  background-color: var(--clr-blue-light);
}